html, body {
  background-color: #fff;
  font-family: "Merriweather", serif; 
  margin: 0;
  padding: 0;
}

p {
    font-size: 14px;
    font-weight: 300;
}

#avatar {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.landing {
  min-height: 100vh;
  width: 100%;
}

div {
  display: inline-block;
}

nav li a {
  color: rgba(0, 0, 0, 0.6);
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}

nav li a:hover {
  box-shadow: 0px 0px 10px 1px blue;
  color: blue;
}

nav {
  display:flex;
  justify-content: space-around;
  position: fixed;
  background-color: #ccd5d5;
  /*background-color: #f6f4f5;*/
  width: 100%;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.nav-links {
  align-items: center;
  display: flex;
  gap: 50px;
  justify-content: flex-end;
  margin-right: 5vw;
}

li {
  list-style: none;
}

#home {
  background-color: #e1dce0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about, #projects, #contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 50px;
}

#about {
  min-height: 920px;
  background: url("images/about-faded.png") no-repeat;
  /*background-image: url("images/short-about.png");*/
}

#projects {
  margin-top: -200px;
}

#contact {
  
}

footer {
  display: inline-block;
  text-align: center;
  padding-bottom: 50px;
  width: 100%;
  background-image: url("images/forest-footer.png");
  background-size: cover;
}

footer p {
  font-size: 12px;
}

h1, h2, h3 {
  color: #41625b;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 200;
}

p {
  color: #16393f;
}

.divider {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -90px;
  margin-top: -90px;
}

.white-text {
  color: white;
  text-shadow: 1px 1px 2px #001b1f;
}

.sm-links {
  padding-top: 70px;
}

.icon {
  width: 24px;
  margin-bottom: -7px;
  margin-right: 5px;
  opacity: 0.6;
}

.attribution {
  font-size: 10px;
  color: white;
  text-shadow: 1px 1px 2px #001b1f;
}

.attribution a {
  color: #809888;
}

.attribution a:hover {
  color: white;
}

button {
  border: none;
  border-radius: 20px;
  background-color: #003131;
  vertical-align: middle;
  padding: 4px 7px 8px 5px;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  color: #cfdedc;
}

button .icon {
  border-radius: 20px;
  background-color: #6f8977;
  padding: 1px;
}

button:hover {
  background-color: #2b5650;
  cursor: pointer;
} 

nav img {
  height: 40px;
  border-radius: 30px;
  margin-top: 5px;
}

nav span {
  display: flex;
}

nav p {
  margin-left: 10px;
  margin-top: 20px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 300;
}
