html, body {
  background-color: #fff;
  font-family: "Merriweather", serif; 
  margin: 0;
  padding: 0;
}

#avatar {
  border-radius: 50%;
  box-shadow: 5 px 10px inset;
  height: 200px;
  width: 200px;
}

.landing {
  min-height: 100vh;
  width: 100%;
}

div {
  display: inline-block;
}

nav li a {
  border: 1px solid black;
  color: black;
  padding: 5px 10px;
  text-decoration: none;
  text-transform: uppercase;
}

nav li a:hover {
  border: 1px solid blue;
  box-shadow: 0px 0px 10px 1px blue;
  color: blue;
}

nav {
  position: fixed;
  background-color: white;
  width: 100%;
}

.nav-links {
  align-items: center;
  display: flex;
  gap: 50px;
  justify-content: flex-end;
  margin-right: 5vw;
}

li {
  list-style: none;
}

#home {
  background-color: #e1dce0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about, #projects, #contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 50px;
}

#about {
  min-height: 920px;
  background: url("images/about-faded.png") no-repeat;
  /*background-image: url("images/short-about.png");*/
}

#projects {
}

#contact {
  
}

footer {
  display: inline-block;
  text-align: center;
  padding-bottom: 50px;
  width: 100%;
  background-image: url("images/forest-footer.png");
  background-size: cover;
}

h1, h2, h3 {
  color: #41625b;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 200;
}

p {
  color: #16393f;
}

.divider {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -90px;
  margin-top: -90px;
}

.white-text {
  color: white;
  text-shadow: 1px 1px 2px #001b1f;
}

.sm-links {
  padding-top: 70px;
}
